/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFF9F1;
}

.canvas {
  margin: 1rem auto;
  border-radius: 1rem;
  overflow: hidden;
  width: 480px;
  aspect-ratio: 0.75;
  position: relative;
}

input {
  font-size: 1rem;
}

input[type='number'] {
  padding: 0.51rem;
}
